<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="win81" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="win81" />
  <package id="sqlite-net" version="1.0.7" targetFramework="win81" />
  <package id="Unity" version="3.0.1304.1" targetFramework="win81" />
  <package id="WindowsAzure.Messaging.Managed" version="0.1.7.5" targetFramework="win81" />
</packages>